include _mixins 
doctype html 
html
	head
		title Application!
		+stylesheet_link_tag("style")
		//link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Shade")
		+javascript_include_tag("vendor/all")
		+javascript_include_tag("handlebars_templates")

	block content

	+javascript_include_tag("application")
	+javascript_include_tag("models/board", "models/list")
	+javascript_include_tag("collections/lists")
	+javascript_include_tag("views/board", "views/list")
	script(type="text/javascript").
		App.board = new Lists(!{JSON.stringify(allItems)});	
		App.init();
