	<div class="card_add_text">
		<textarea></textarea>
	</div>
	<div class="card_add_ctrls">
		<input class="submit_card_add" type="submit" value="Add" />
		<a class="cancel_card_add" href="#">X</a>
		<div class="card_add_optns">
			<span>...</span>
		</div>
	</div>
