<div id="add_list">
	<div class="add_list_button">
		<p>Add a List...</p>
	</div>
<div class="add_list_popout">
	<textarea placeholder="Add a List..."></textarea>
	<input type="submit" value="Save" id="test_add_list" />
	<a href="#" class="hide_add_popup">X</a>
</div>
</div>
