<div class="card_content" style="position:relative;">
	<div class="labels_area">
		{{#if colors}}
			{{#each colors}}
				<div class="color_block" style="background-color:{{this}};"></div>
			{{/each}}
		{{/if}}
	</div>
	<div class="title_area">
		<h4>{{label}}</h4>
		<div class="pencil_box"><img src="images/list_pencil.png" alt="pencil_icon" /></div>
	</div>

	{{#if icons}}
		<div class="card_icons">
			{{#if subscribed}}
				<div class="is_subscribed"><img src="images/card_subscribe.png" alt="subscribed" /></div>
			{{/if}}
			{{#if due}}
				<div class="due_date"><img src="images/card_clock.png" alt="clock_icon" /><div class="date_box"><span>{{due}}</span></div></div>
			{{/if}}
			{{#if description}}
				<div class="has_description"><img src="images/card_description.png" alt="description_icon" /></div>
			{{/if}}
			{{#if comments}}
				<div class="comments_number"><img src="images/card_comments.png" alt="comments_icon" /><span>{{comments}}</span></div>
			{{/if}}
		</div>
	{{/if}}
</div>
