<div class="header boards_button">
	<a href="#">
		<img src="images/header_boards.png" alt="boards_icon" />
		<span id="board">Boards</span>
	</a>
</div>
<div class="header header_search">
	<input type="text" autocomplete="off" autocorrect="off" spellcheck="false" />
	<!--<img src="images/header_search.png" alt="header_search_icon" />-->
</div>
<div class="header boards-ctrl">
	<a class="notif_button" href="#">
		<img src="images/header_notif.png" alt="notification_icon" />
	</a>
</div>
<div class="header header_logo">
	<img src="images/header_logo.png" alt="trello_logo" />
</div>
