<div class="color" id="#519839" style="background-color:#519839;"></div><!--
--><div class="color" id="#D9B51C" style="background-color:#D9B51C;"></div><!--
--><div class="color" id="#FFAB4A" style="background-color:#FFAB4A;"></div><!--
--><div class="color" id="#EB5A46" style="background-color:#EB5A46;"></div><!--
--><div class="color" id="#C377E0" style="background-color:#C377E0;"></div><!--
--><div class="color" id="#0079BF" style="background-color:#0079BF;"></div><!--
--><a href="#" id="close">Close</a>
