	<textarea class="heading_text" onclick="this.focus();this.select()">{{heading}}</textarea>
	<div class="list_extras">
		<a href="#">
			<span>...</span>
		</a>
	</div>


	<div class="cards_area">
		{{#each cards}}	
		<div class="card" data-cardid="{{cardId}}">

			<div class="card_content">
				<h4>{{label}}</h4>
				{{#if subscribed}}
					<span class="icon-subscribe">isSubbed</span>
				{{/if}}
				{{#if due}}
					<span class="due_date">isDue</span>
				{{/if}}
				{{#if description}}
					<span class="list_description">hasDesc</span>
				{{/if}}
				{{#if comments}}
					<span class="comments_num">hasComms</span>
				{{/if}}
			</div>
		</div>
		{{/each}}	
	</div>	

	<div class="card_add">
		<div class="card_add_activate">
			<a href="#">
				<span>Add a card...</span>
			</a>
		</div>
	</div>
