<textarea class="heading_text" onclick="this.focus();this.select()">{{heading}}</textarea>
<div class="list_extras">
	<a href="#">
		<span>...</span>
	</a>
</div>
<div class="cards_area"></div>	
<div class="card_add">
	<div class="card_add_activate">
		<a href="#">
			<span>Add a card...</span>
		</a>
	</div>
</div>
