@import url("whitespace_reset.css");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
	font-size: 1.5em;
}

h3 {
	color: dodgerblue;
}

.list {
	display: inline-block;
	color: white;
	background-color: black;
	border: 1px solid white;
}

.card {
	border: 1px solid white;
	border-left: 10px solid white;
}

.comments {
	border: 1px dotted white;
	border-left: 8px solid white;
}
