@import url("whitespace_reset.css");

html {
	color: #4d4d4d;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 18px;
/*	overflow: auto; */
}

body {
	background-color: rgb(0, 121, 191);
	/*overflow: auto; */
	

}

main {
	width: 100%;
	height: 600px;
	white-space: nowrap;
	margin-top: 90px;
}

#lists_area {
}

#add_list {
	display: inline-block;
}

header,
#infobar {
	position: fixed
}

header {
	top: 0;
	background-color: #016BA6;
	width: 100%;
	height: 40px;
}


#infobar {
	top: 40px;
	height: 46px;
	background-color: rgb(0, 121, 191);
}

.boards-ctrl {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
}

.header_logo {
	float: right;
	margin-right: 450px;
}

.header {
	display: inline-block;
}

.boards_button {
	text-align: right;
	font-weight: 700;
	line-height: 30px;
	height: 30px;
	width: 100px;
	background-color: rgb(60,141, 185);
	border-radius: 3px;
	margin-right: 10px;
}

.boards_button img {
	position: absolute;
	left: 5px;
}


.boards_button span,
.boards_button a {
	color: #ffffff;
	text-decoration: none;
}

.boards_button a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.header.header_search {
	background-color: rgb(60,141, 185);
	height: 30px;	
	border-radius: 3px;
}

header input {
	margin: 3px;
  background-color: rgb(60, 141, 185);
  border: 0px solid;
}

.header.header_search input[type=text]{
	font-size: 13px;
	height: 20px;
	box-shadow: none;
}

.header.header_search input[type=text]:focus{
	background-color: white;
	outline: none;
	font-size: 13px;
	height: 20px;
	box-shadow: none;
}


.notif_button {
	background-color: #20c2e0;
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 3px;
}

.notif_button > img {
	margin-top: 3px;
	margin-left: 2px;
}

.list {
	display: inline-block;
  min-width: 270px;
	max-width: 280px;
	color: rgb(77, 77, 77);
	background-color: rgb(226, 228, 230);
	margin-left: 10px;
	border-radius: 3px;
	vertical-align: top;
}

.heading_text {
	color: rgb(77, 77, 77);
	overflow: hidden;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 700;	
	width: 216px;
	height: 24px;
	display: inline-block;
	background-color: rgb(226, 228, 230);
	border: none;
	border-radius: 3px;
	box-shadow: none;
	outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
	resize: none;
	padding: 0px 5px;
	min-height: 18px;
	max-height: 28px;
	margin: 5px 5px;
	line-height: 23px;
	overflow-x: hidden;
  overflow-y: auto;
	cursor: pointer;
}

.heading_text:focus {
	background-color: white;
	cursor: text;
}

.list_extras {
	box-sizing: border-box;
	float: right;
	border-radius: 3px;
	margin-right: 5px;
	margin-top: 5px;
	border-radius: 3px;
	line-height: 13.5px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.list_extras:hover {
	background-color: rgb(196, 201, 204);
}

.list_extras a {
	text-decoration: none;
}

.list_extras a span {
	display: inline-block;
	color: rgb(140, 140, 140);	
	padding: 2px 0 0 7px;
}

.list_extras a span:focus,
.list_extras a:focus {
	color: black;
}


.cards_area {
	padding: 0 4px 0 4px;
	margin: 0 4px 0 4px; 
}

.card_add {
	box-sizing: border-box;	
	padding: 8px 0 8px 8px;
	margin: 0;
	cursor: pointer;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.card_add a {
	text-decoration: none;
}

.card_add a span {
	color: rgb(140, 140, 140);
}

/*.card_add:hover {
/*	background-color: rgb(196, 201, 204);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin: 0;
	padding-left: 8px; 
} */

/* back color: rgb(
 * radius none, none
* padding: 8px 0
margin: 0 8px

*/

.card_add_activate {
	margin-left: 10px;
}

.card {
	background-color: white;
	border-radius: 3px;
}

.card_content {
	box-sizing: border-box;
	padding: 6px 6px 2px 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid rgb(204, 204,204);
}

.card_content h4 {
	margin-bottom: 4px;
}

.card_content:hover {
	background-color: rgb(237,239,240);
}

/* popup displays */


.card_add_activate {
/*	display: none; */
}

.card_add_text {
	box-sizing: border-box;
	padding: 6px 6px 2px 8px;
	margin-right: 8px;
	background-color: white;
	border-radius: 3px;
}

.card_add_text textarea {
	color: rgb(77, 77, 77);
	background-color: white;	
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: initial;
	font-weight: 700;	
	width: 98%;
	height: 54px;
	display: inline-block;
	border: none;
	border-radius: 3px;
	box-shadow: none;
	outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
	/*resize: none;*/


}

.card_add_popup {
/*	display: none;  */
	box-sizing: border-box;
	margin: 0 8px 8px 8px;
}

.card_add_ctrls {
	margin: 8px 8px 0 0;
}

.card_add_ctrls input[type=submit] {
	box-sizing: border-box;
	outline: none;
	background: linear-gradient(to bottom,#61bd4f,#5AAC44 100%);
	box-shadow: 0 1px 0 #3F6F21;
	border: none;
	border-radius: 3px;
	color: white;
	font-weight: bold;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	width: 60px;
	height: 32px;
	padding: 4px 16px;
}

.card_add_ctrls input[type=submit]:hover {
	background: linear-gradient(to bottom, #5AAC44, #519839 100%);
}

.card_add_ctrls input[type=submit]:active {
	background: linear-gradient(to bottom, #519839, #49852E 100%);
}


.cancel_card_add {
	position: relative;
	top: 3px;
	left: 7px;
	font-size: 22px;
	color: rgb(153, 153, 153);
	text-decoration: none;	
}

.cancel_card_add:hover {
	color: rgb(77,77,77);
}

.card_add_optns {
	position: relative;
	box-sizing: border-box;
	margin-top: 2px;
	padding-left: 5px;
	height: 30px;
	width: 30px;
	line-height: 16px;
	display: inline-block;
	float: right;
	border-radius: 3px;
	cursor: pointer;
}


.card_add_optns span {
	font-size: 24px;
	color: rgb(153,153,153);	
}

.card_add_optns:hover {
	background-color: rgb(196,201,204);
}

.card_add_optns span:hover {
	color: rgb(77,77,77);	
}

.comments {
	border: 1px dotted white;
	border-left: 8px solid white;
}



